Dockerfile
.dockerignore

#Editors
.idea/
.vscode/

#Git
.git/
**/.gitignore

#Environment
venv/

README.md
*.bat
*.sqlite
*.sqlite3
*.pem
*.env
**/*.pyc
**/__pycache__
**/migrations/*.py
!**/migrations/__init__.py
